*{
    font: 20px arial sans-serif;
}

.navbar {
    background-color: lightblue;
}

.container-fluid {
    font: black;
    background-color: #a7e3c1;
}

.margin {
    margin-botton: 20px;
    margin-top: 20px;
}

.margin2{
    padding-top: 50px;
    padding-bottom: 50px;
}



.onde{
    background-color:#a32c28
}

.footer{
    background-color: rgb(138, 162, 241);
}